<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>Wichtelschmiede Hofgeismar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Wichtelschmiede Hofgeismar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item"><a class="nav-link" href="/materials">Materialien</a></li>
        <li class="nav-item"><a class="nav-link" href="/casting-powders">Gießpulver</a></li>
        <li class="nav-item"><a class="nav-link" href="/molds">Gießformen</a></li>
        <li class="nav-item"><a class="nav-link" href="/workpieces">Werkstücke</a></li>
      </ul>
    </div>
  </nav>
  <div class="container mt-4">
    <%- body %>
  </div>
  <!-- Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>
